.detailContainer {
  animation: fade 0.5s linear both;
  margin: 8rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 75%;
}
main {
  animation: fade 0.5s linear both;
}
