:root {
  --bg-color: rgb(7, 12, 21);
  --primary: color-mix(in hsl, var(--bg-color) 20%, var(--text-color));
  --text-color: white;
  --border-color: rgba(255, 255, 255, 0.089);
  /* --bg-color: rgb(201, 205, 216);
  --primary: color-mix(in hsl, var(--bg-color) 20%, var(--text-color));
  --text-color: rgb(0, 0, 0);
  --border-color: rgba(38, 30, 30, 0.41); */
}
*,
*:after,
*:before {
  box-sizing: border-box;
  color: var(--text-color);
}
h3 {
  margin: 0.5rem;
}
body {
  color: color-mix(in lch, canvasText 10%, canvas);
  background: var(--bg-color);
  background-image: var(--bg-image);
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  transition: all 1s ease-in-out;
}

input,
button {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 9999px;
  padding: 0.5rem 1.25rem;
}

.link {
  position: relative;
  color: var(--text-color);
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 999px;
  text-decoration: none;
  padding: 0.5rem 1.25rem;
  font-size: 14px;
  isolation: isolate;
  z-index: 1;
  opacity: 1;
  cursor: pointer;
  width: fit-content;
}
.link::before {
  content: "▹";
  color: var(--text-color);
  font-size: 1.6rem;
  position: absolute;
  left: -20px;
  top: -1px;
  z-index: 0;
  transition: all 0.1s linear;
}
.link:hover::before {
  transform: translateX(25px);
  opacity: 0;
}
.link:hover {
  color: var(--text-color);
}

.linkSmall {
  position: relative;
  color: var(--text-color);
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 999px;
  text-decoration: none;
  padding: 0.25rem 0.7rem;
  font-size: 14px;
  isolation: isolate;
  z-index: 1;
  opacity: 1;
  cursor: pointer;
  width: fit-content;
}
.linkSmall::before {
  content: "▹";
  color: var(--text-color);
  font-size: 1.2rem;
  position: absolute;
  left: -15px;
  top: 0px;
  z-index: 0;
  transition: all 0.1s linear;
}
.linkSmall:hover::before {
  transform: translateX(25px);
  opacity: 0;
}
.linkSmall:hover {
  color: var(--text-color);
}

@keyframes fade {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeOpa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span,
p {
  cursor: default;
}
button {
  cursor: pointer;
}

.divStyle {
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  border: 1px solid var(--border-color);
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  border-radius: 20px;
  text-wrap: balance;
  text-align: center;
}
.divSmall {
  border: 1px solid var(--border-color);
  padding: 0.25rem 1.25rem;
  border-radius: 20px;
  text-wrap: balance;
  text-align: center;
  display: block;
  width: 100%;
}

.divStyle > * {
  display: block;
}
