:root {
  --bg-color: rgb(7, 12, 21);
  --primary: color-mix(in hsl, var(--bg-color) 20%, white);
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  color: color-mix(in lch, canvasText 10%, canvas);
  background: var(--bg-color);
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
}

input,
button {
  /* background: none; */
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 9999px;
  padding: 0.5rem 1.25rem;
}
