.rocket-launcherConfigContainer {
  width: 75%;
  animation: fade 0.5s linear both;
  margin: 8rem auto 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  .divSmall {
    margin-top: 0.5rem;
  }
}
.rocket-familyManufacturers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rocket-familyManufacturersChilds {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.15rem 0.2rem 1rem;
}
.rocket-familyStats > *,
.rocket-manufacturerInfo > *,
.rocket-programInfo > * {
  display: block;
}
.rocket-manufacturerCard,
.rocket-programCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 50px;
  grid-template-areas:
    "img info"
    "des des"
    "btn btn";

  img {
    height: 130px;
    width: 130px;
    place-self: end;
  }
  p,
  .rocket-programAgencies {
    grid-area: des;
    place-self: center;
  }
  .rocket-manufacturerInfo,
  .rocket-programInfo {
    grid-area: info;
    text-align: left;
    align-self: center;
    justify-self: left;
  }
  a {
    grid-area: btn;
    place-self: center;
  }
}
.rocket-configHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-rows: repeat(2, auto);
  /* place-items: center; */
  grid-template-areas:
    "img titl titl"
    "img over over";
  .rocket-configOverview {
    grid-area: over;
  }
  .rocket-configImage {
    grid-area: img;
    display: grid;
    padding: 0;
    .launcherPic {
      place-self: center;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
  .rocket-configTitle {
    grid-area: titl;
  }
}
.rocket-configAllDetails,
.rocket-relatedSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.rocket-configChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 300px;
}
.rocket-flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.rocket-configRelated {
  display: flex;
  flex-direction: column;
  width: 100%;
}
