.singleEventsContent {
  display: grid;
  width: 270px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.089);
  grid-template-columns: 1fr;
  grid-template-rows: 130px 1fr 1fr auto;
  place-items: center;
  padding: 1rem;
  text-align: center;
}

.allEventsContent {
  max-height: 300px;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  grid-template-rows: auto auto auto auto;
}
.singleEventsContent-img {
  width: 100%;
  height: 130px;
  mask-image: radial-gradient(circle, var(--bg-color) 0%, transparent 100%);
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
