.allLandingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  max-height: 175px;
  min-height: 175px;
}

.singleLandingContent {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr auto;
  padding: 0.5rem 0.5rem 0.5rem 1.25rem;
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--border-color);
  width: 100%;
  transition: 0.3s linear;
  backdrop-filter: blur(20px);
  background: color-mix(in lch, transparent, var(--bg-color) 50%);
}
