.navDetailcontainer {
  display: flex;
  justify-content: center;
  height: max-content;
}

.navDetail {
  display: flex;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.isClosed.navDetail {
  opacity: 0;
}

.isClosed > * {
  opacity: 0;
  transform: translateX(60px);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.isOpen > * {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
