.expeditionDetailContainer {
  margin-top: 8rem;
  margin: 8rem auto 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 75%;
  grid-template-rows: 140px 140px auto auto auto;
  place-items: center;
  text-align: center;
  gap: 1.25rem;
  grid-template-areas:
    "img titl"
    "img about"
    "wlak walk"
    "crew crew"
    "sta sta"
    "own own";
  .crew {
    grid-area: crew;
    display: flex;
    flex-direction: column;
    align-items: center;
    .crewAll {
      display: grid;
      gap: 1.25rem;
      grid-template-columns: repeat(5, 1fr);
      .crewMember {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 70px 30px;
        gap: 1.25em;
        place-items: center;
        img {
          width: 100%;
          border-radius: 15px;
          object-fit: cover;
        }
      }
    }
  }
  .about {
    grid-area: about;
  }
  .image {
    grid-area: img;
    display: grid;
    place-items: center;
    img {
      width: 100%;
    }
  }
  .title {
    grid-area: titl;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h1 {
      margin: 0;
    }
  }
  .spaceStation {
    margin-top: 1rem;
    grid-area: sta;
    .sta {
      display: grid;
      grid-template-columns: 400px 1fr;
      place-items: center;
      grid-template-rows: 1fr;
      div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
      }
    }
  }
  .walks {
    margin-top: 1rem;
    grid-area: walks;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    .walk {
      display: grid;
      grid-template-columns: 2fr 1fr 2fr 1fr;
      padding: 0.25rem 0.25rem 0.25rem 1rem;
      .link {
        justify-self: end;
      }
    }
  }
  .owners1 {
    margin-top: 2rem;
    .owners {
      grid-area: own;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1.25rem;
      img {
        height: 60px;
      }
      .owner {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 80px 30px;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .expeditionDetailContainer {
    width: unset;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "titl"
      "img"
      "about"
      "wlak"
      "crew"
      "sta"
      "own";
  }
  .crewAll {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(7, auto) !important;
  }
}
