.expeditionDetailContainer {
  animation: fade 0.5s linear both;
  margin: 8rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 75%;
}

.crewAll,
.owners {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  .crewMember {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 80px 30px;
    gap: 1rem;
    width: fit-content;
    img {
      width: 150px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}
.owner {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto 80px 30px;
  gap: 1rem;
  width: 200px;
  img {
    width: 100px;
    border-radius: 15px;
    object-fit: cover;
  }
}
.spaceStation {
  margin-top: 1rem;
  .sta {
    display: grid;
    grid-template-columns: 400px 1fr;
    place-items: center;
    grid-template-rows: 1fr;
    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
  }
}

.expeHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-rows: repeat(2, auto);
  /* place-items: center; */
  grid-template-areas:
    "img titl titl"
    "img about about";
  .about {
    grid-area: about;
  }
  .image {
    grid-area: img;
    display: grid;
    place-items: center;
    padding: 0;
    img {
      place-self: center;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
  .title {
    grid-area: titl;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h1 {
      margin: 0;
    }
  }
}
.walks {
  margin-top: 1rem;
  grid-area: walks;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  .walk {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    .link {
      justify-self: end;
    }
  }
}
