.eventsDetailContainer {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .logoImg {
    height: 20px;
    width: 20px;
    transform: translate(6px, 3px);
    aspect-ratio: 1 / 1;
  }
  h2 {
    margin: 0;
    animation: fade 0.5s linear both;
  }
  .imgPic {
    mask-image: radial-gradient(circle, var(--bg-color) 0%, transparent 100%);
    width: 80%;
  }
  .iframe {
    mask-image: none;
  }
}

.eventDetail-top {
  gap: 1rem;
  width: 75%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: 400px 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "img titl titl"
    "img abt abt"
    "vid abt abt";
  animation: fade 0.5s linear both;
  .image {
    grid-area: img;
  }
  .title {
    grid-area: titl;
  }
  .about {
    grid-area: abt;
  }
  .vid {
    grid-area: vid;
  }
}
.eventDetail-top > *,
.eventDetail-bottom > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  border: 1px solid var(--border-color);
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  border-radius: 20px;
  text-wrap: balance;
  text-align: center;
}
.eventDetail-bottom {
  gap: 1rem;
  width: 75%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, auto);
  animation: fade 0.5s linear both;
  justify-items: center;
}
.relatedChilds {
  display: grid;
  grid-template-rows: 50px auto;
}
.relatedSubChilds {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between;
  height: 100%;
  .logoImg {
    width: 60px;
    height: 60px;
  }
}
