.eventDetail-image {
  width: 300px;
  img {
    width: 100%;
  }
}

.eventsDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .logoImg {
    height: 20px;
    width: 20px;
    transform: translate(6px, 3px);
    aspect-ratio: 1 / 1;
  }
  h2 {
    margin: 0;
    animation: fade .5s linear both;
  }
}

.eventDetail-top {
  gap: 1rem;
  width: 75%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "img titl titl"
    "img abt abt"
    "vid abt abt";
  animation: fade .5s linear both;
  .image {
    grid-area: img;
    img {
      width: 100%;
    }
  }
  .title {
    grid-area: titl;
  }
  .about {
    grid-area: abt;
  }
  .vid {
    grid-area: vid;
  }
}
.eventDetail-top > *,
.eventDetail-bottom > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.259);
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  border-radius: 20px;
  text-wrap: balance;
  text-align: center;
}
.eventDetail-bottom {
  gap: 1rem;
  width: 75%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, auto);
  animation: fade .5s linear both;
}
.relatedChilds {
  display: grid;
  grid-template-rows: 50px auto;
}
/* .big {
  grid-row: span 2;
} */
.relatedSubChilds {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between;
  height: 100%;
  img {
    width: 150px;
  }
}
