.logo {
  justify-self: start;
  height: 50px;
  margin: 15px;
  aspect-ratio: 1 / 1;
  position: absolute;
  svg {
    width: 100%;
    height: 100%;
  }
}
circle {
  stroke: var(--primary);
  stroke-width: 20px;
  fill: none;
}

.meridian {
  animation: turn 1s infinite linear;
}

@keyframes turn {
  0% {
    transform: rotateZ(-20deg) rotateX(35deg) rotateY(var(--start));
  }
  100% {
    transform: rotateZ(-20deg) rotateX(35deg) rotateY(var(--end));
  }
}
