.tooltip {
  position: relative;
  border-bottom: 2px dotted #ffffff;
  cursor: help;
}

.tooltip .tip {
  visibility: hidden;
  position: absolute;
  width: 300px;
  bottom: 100%;
  left: 50%;
  background-color: var(--bg-color);
  border: solid 1px rgba(255, 255, 255, 0.378);
  transform: translate(-50%, 10px);
  color: #ffffffb1;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  white-space: wrap;
  height: auto;
  text-align: center;
  line-height: 20px;
  transition: .3s linear;
}

.tooltip:hover .tip {
  visibility: visible;
  transform: translate(-50%, -10px);
}
.launchesDetailContainer {
  gap: .5rem;
  width: 75%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "img titl titl"
    "img sta net"
    "img mis pad"
    "rock mis map"
    "rock ifr map"
    "serv ifr padpic";
  .imgPic {
    width: 100%;
  }
  .logoImg {
    height: 20px;
    width: 20px;
    aspect-ratio: 1 / 1;
  }
}

.launchesDetailContainer > * {
  border: 1px solid rgba(255, 255, 255, 0.259);
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* object-fit: cover; */
}
.launchesDetail-title {
  grid-area: titl;
}
.launchesDetail-priImg {
  grid-area: img;
}
.launchesDetail-net {
  grid-area: net;
}
.launchesDetail-status {
  grid-area: sta;
}
.launchesDetail-mission {
  grid-area: mis;
}
.launchesDetail-provider {
  grid-area: serv;
}
.launchesDetail-pad {
  grid-area: pad;
}
.mapContainer {
  grid-area: map;
}
.launchesDetail-rocket {
  grid-area: rock;
}
.launchesDetail-vid {
  grid-area: ifr;
}
.launchesDetail-sndImg {
  grid-area: padpic;
}
