.landing-detailContainer {
  margin: 8rem auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  h1 {
    margin: 0;
  }
  h2 {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 13px;
  }
}
.landing-location,
.landing-payloadFlight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.landing-location > *,
.landing-firstStage > *,
.landing-spacecraftDetails > *,
.landing-payloadFlight > * {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
.landing-firstStage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}
.landing-rocketConfiguration,
.landing-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.landing-spacecraftDetails {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}
