.landingHeader {
  display: flex;
  h1 {
    margin: 0;
  }
}
.landingLocation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  img {
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
  }
}
.landingLocation > * {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;
  justify-content: space-between;
}
