.earthSvg {
  /* overflow: hidden; */
  /* clip-path: inset(0 0 105px 0);  */
  /* transform: translateY(-100px); */
  width: 100vw;
  animation: earth linear 0.5s both;
  .bigcircle2 {
    fill: var(--bg-color);
  }
  .bigcircle {
    fill: #ffffff;
  }
  rect {
    fill: var(--bg-color);
  }
}
.el {
  fill: rgba(255, 255, 255, 0.162);
}
.elb {
  fill: #6767b466;
}
.el1 {
  fill: rgb(255, 255, 255);
}
.el2 {
  fill: #6767b43d;
}
@keyframes earth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.svgContainer {
  position: absolute;
  bottom: -100%;
  height: 490px;
  width: 100vw;
  overflow: hidden;
  z-index: -10;
}
.svgContainer0 {
  height: 490px;
  width: 100vw;
  overflow: hidden;
}
.svgContainerISS {
  position: absolute;
  bottom: 0;
  height: 490px;
  width: 100vw;
  overflow: hidden;
}
.svgContainerDetail {
  height: 490px;
  width: 100vw;
  overflow: hidden;
}
