nav {
  display: grid;
  animation: fadeOpa 0.5s ease-in-out both;
  place-items: center;
}
.primNav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
ul {
  border: 1px solid color-mix(in lch, transparent 80%, var(--text-color));
  border-radius: 50px;
  transition: 0.2s linear;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0;
  list-style: none;
  position: relative;
  flex-wrap: wrap;
  color: color-mix(in lch, canvasText 10%, canvas);
  transition: color 0.2s;
  font-size: 1.25rem;
  backdrop-filter: blur(20px);
  --moonColor: color-mix(in lch, canvasText 10%, canvas);
}
li {
  display: grid;
  place-items: center;
  font-weight: 400;
}

li a {
  height: fit-content;
  vertical-align: 100%;
  display: inline-block;
  padding: 0.5rem 2.25rem;
  width: 100%;
  color: currentColor;
  text-decoration: none;
}

a:is(:focus-visible, :hover),
ul:has(a:target:is(:focus-visible, :hover))::after {
  color: canvasText;
}
.switch:is(:focus-visible, :hover),
ul:has(a:target:is(:focus-visible, :hover))::after {
  .moon {
    box-shadow: 1.5em 1.25em 0 0 rgb(66, 58, 102) inset,
      rgb(66, 58, 102) 0 -3.5em 0 -2.25em,
      rgb(66, 58, 102) 1.5em 3.5em 0 -2.25em, rgb(66, 58, 102) 1em 6.5em 0 -2em,
      rgb(66, 58, 102) 3em 1em 0 -2.05em, rgb(66, 58, 102) 4em 4em 0 -2.25em,
      rgb(66, 58, 102) 3em 6.5em 0 -2.25em,
      rgb(66, 58, 102) -2em 3.5em 0 -2.25em,
      rgb(66, 58, 102) -0.5em 5em 0 -2.25em;
  }
  .sun {
    box-shadow: 1.5em 1.5em 0 2.5em rgb(254, 191, 113) inset,
      0 -2.5em 0 -1.35em rgb(254, 191, 113),
      1.75em -1.75em 0 -1.5em rgb(254, 191, 113),
      2.5em 0 0 -1.35em rgb(254, 191, 113),
      1.75em 1.75em 0 -1.5em rgb(254, 191, 113),
      0 2.5em 0 -1.35em rgb(254, 191, 113),
      -1.75em 1.75em 0 -1.5em rgb(254, 191, 113),
      -2.5em 0 0 -1.35em rgb(254, 191, 113),
      -1.75em -1.75em 0 -1.5em rgb(254, 191, 113);
  }
}

ul::before,
ul::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50px;
  background: color-mix(in lch, transparent, var(--text-color) 100%);
  transition: all 0.18s;
  transition-timing-function: linear(
    0 0%,
    0.2342 12.49%,
    0.4374 24.99%,
    0.6093 37.49%,
    0.6835 43.74%,
    0.7499 49.99%,
    0.8086 56.25%,
    0.8593 62.5%,
    0.9023 68.75%,
    0.9375 75%,
    0.9648 81.25%,
    0.9844 87.5%,
    0.9961 93.75%,
    1 100%
  );
}

ul::after {
  opacity: 1;
  background: transparent;
  border-radius: 0;
  border-bottom: 2px solid currentColor;
}

/* Targeting */
@supports (anchor-name: --a) {
  a:target {
    anchor-name: --target;
  }
  .switch:target {
    anchor-name: --target;
  }
  li:has(a:is(:hover, :focus-visible)) {
    anchor-name: --anchor;
  }
  li:has(.switch:is(:hover, :focus-visible)) {
    anchor-name: --anchor;
  }

  ul::before {
    position-anchor: --anchor;
    left: anchor(left);
    top: anchor(top);
    width: anchor-size(width);
    height: anchor-size(height);
  }

  ul::after {
    position-anchor: --target;
    left: calc(anchor(left) + 1.25rem);
    top: anchor(top);
    width: calc(anchor-size(width) - 2.5rem);
    height: anchor-size(height);
  }
}
