:root {
  --loader-size: 70px;
  --planet-size: 10px;
  --moon-loader-size: 34px;
  --moon-size: 5px;
  --sun-size: 21px;
  --color: #fff;
}
.loader {
  position: absolute;
  top: 50%;
  margin-top: calc(var(--loader-size) / -2);
  left: 50%;
  margin-left: calc(var(--loader-size) / -2);
  width: var(--loader-size);
  height: var(--loader-size);
}
.allContent {
  position: relative;
}
.moon-loader {
  margin-top: calc(var(--moon-loader-size) / -2);
  margin-left: calc(var(--moon-loader-size) / -2);
  width: var(--moon-loader-size);
  height: var(--moon-loader-size);
}

.loader-circle {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(254, 254, 254, 0.21);
  animation: rotate 2.1s infinite;
  animation-timing-function: linear;
}

.loader-circle > div {
  position: absolute;
  width: var(--planet-size);
  height: var(--planet-size);
  margin-left: calc(var(--planet-size) / 2);
  border-radius: 50%;
  background-color: var(--color);
}

.loader-circle > div.loader-moon-size {
  width: var(--moon-size);
  height: var(--moon-size);
  margin-left: calc(var(--moon-size) / 2);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loader-sun {
  position: absolute;
  left: 50%;
  margin-left: calc(var(--sun-size) / -2 + 1px);
  top: 50%;
  margin-top: calc(var(--sun-size) / -2 + 1px);
  width: var(--sun-size);
  height: var(--sun-size);
  background-color: var(--color);
  border-radius: 50%;
}
